@model List<SharedObjects.ValueObjects.VDebugData>

<div class="caption col-md-12">
    <span class="caption-subject font-green-sharp bold uppercase">
        Station Data Entry
    </span>
</div>
<form id="frm-save-debugdata-body">
    <table id="tbl-debugdata" class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="text-center bold">
                <td>Station Name</td>
                <td>Debug Hit Rate (%)</td>
                <td>Hardcore Rate</td>
                <td>Average Debug Time (Normal Board)(mins)</td>
                <td>Average Debug Time (Hardcore Board)(mins)</td>
                <td>Final Yield (%)</td>
                <td>Debug Retest Pass Yield (%)</td>
                <td>RMA (Qty)</td>
                <td style="width:100px">Modification</td>
            </tr>
        </thead>
        <tbody id="table-data">
            <tr class="text-center form-group" id="table-add-debugdata">
                <td>
                    <input id="txt-add-debug-Station" class="form-control" name="addDebugStation" />
                </td>
                <td>
                    <input id="txt-add-debug-DebugHitrateYield" for="" class="form-control" name="addDebugHitrateYield" />
                </td>
                <td>
                    <input id="txt-add-debug-HardcoreRate" for="" class="form-control" name="addHardcoreRate" />
                </td>
                <td>
                    <input id="txt-add-debug-DebugTimeForNormalBoard" for="" class="form-control" name="addDebugTimeForNormalBoard" />
                </td>
                <td>
                    <input id="txt-add-debug-DebugTimeForHardcoreBoard" for="" class="form-control" name="addDebugTimeForHardcoreBoard" />
                </td>
                <td>
                    <input id="txt-add-debug-FinalYield" for="" class="form-control" name="addDebugFinalYield" />
                </td>
                <td>
                    <input id="txt-add-debug-DebugRetestPassYield" for="" class="form-control" name="addDebugRetestPassYield" />
                </td>
                <td>
                    <input id="txt-add-debug-RMA" for="" class="form-control" name="addRMA" />
                </td>
                <td class="text-center">
                    <a id="btn-adddebugdata" class="btn default btn-xs purple update" title="Add"> <span class="glyphicon glyphicon-plus"></span></a>
                </td>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="text-center">

                    <td id="Station-@item.Id" ondblclick="addInput(this)">@item.Station</td>
                    <td id="DebugHitrateYield-@item.Id" ondblclick="addInput(this)">@item.DebugHitrateYield</td>
                    <td id="HardcoreRate-@item.Id" ondblclick="addInput(this)">@item.HardcoreRate</td>
                    <td id="DebugTimeForNormalBoard-@item.Id" ondblclick="addInput(this)">@item.DebugTimeForNormalBoard</td>
                    <td id="DebugTimeForHardcoreBoard-@item.Id" ondblclick="addInput(this)">@item.DebugTimeForHardcoreBoard</td>
                    <td id="FinalYield-@item.Id" ondblclick="addInput(this)">@item.FinalYield</td>
                    <td id="DebugRetestPassYield-@item.Id" ondblclick="addInput(this)">@item.DebugRetestPassYield</td>
                    <td id="RMA-@item.Id" ondblclick="addInput(this)">@item.Rma</td>
                    <td class="text-center">
                        <a id="btn-save-debugdata" class="btn default btn-xs purple update" data-debugId="@item.Id" title="Save"> <span class="glyphicon glyphicon-floppy-saved"></span></a>
                        <a id="btn-deletedebugdata" class="btn default btn-xs red delete" data-debugdataid="@item.Id" data-station="@item.Station" title="Delete"> <span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</form>




