@model List<SharedObjects.ValueObjects.VDebugData>

@{
    var WC = ViewData["WC"] as string;
var WCs = ViewData["WCs"] as IEnumerable<SharedObjects.ValueObjects.VWC>;
}
<div class="caption col-md-12">
    <span class="caption-subject font-green-sharp bold uppercase">
        Debug Data @WC
    </span>
</div>
<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr class="text-center bold">
            <td>WC</td>
            <td>Station</td>
            <td>DebugHitrateYield</td>
            <td>NormalRate</td>
            <td>DebugTimeForNormalBoard</td>
            <td>DebugTimeForHardcoreBoard</td>
            <td>FinalYield</td>
            <td style="width:100px">Utilities</td>
        </tr>
    </thead>
    <tbody id="table-data">
        <tr class="text-center">
            <td>
                @*<input id="txt-add-debug-WC" for="" class="form-control" />*@
                <select for="Wc" class="form-control" id="txt-wc" data-search="wc" name="wc" style="color:mediumvioletred">
                    <option value="">--Please Select--</option>

                    @foreach (var item in @WCs.OrderByDescending(c => c.Id).ToList())
                        {
                    <option value=@item.Wcname>@item.Wcname</option>
                        }
                </select>
            </td>
            <td>
                <input id="txt-add-debug-Station" for="" class="form-control" />
            </td>
            <td>
                <input id="txt-add-debug-DebugHitrateYield" for="" class="form-control" />
            </td>
            <td>
                <input id="txt-add-debug-NormalRate" for="" class="form-control" />
            </td>
            <td>
                <input id="txt-add-debug-DebugTimeForNormalBoard" for="" class="form-control" />
            </td>
            <td>
                <input id="txt-add-debug-DebugTimeForHardcoreBoard" for="" class="form-control" />
            </td>
            <td>
                <input id="txt-add-debug-FinalYield" for="" class="form-control" />
            </td>
            <td class="text-center">
                <a id="btn-adddebugdata" class="btn default btn-xs purple update" data-toggle="" href="" data-debugdata="" title="Add"> <span class="glyphicon glyphicon-plus"></span></a>
            </td>
        </tr>

        @foreach (var item in Model)
        {
        <tr class="text-center">
            <td id="WC">@item.Wc</td>
            <td id="Station">@item.Station</td>
            <td id="WorkingHourPerShift">@item.DebugHitrateYield</td>
            <td id="DebugHitrateYield">@item.NormalRate</td>
            <td id="DebugTimeForHardcoreBoard">@item.DebugTimeForNormalBoard</td>
            <td id="DebugTimeForHardcoreBoard">@item.DebugTimeForHardcoreBoard</td>
            <td id="FinalYield">@item.FinalYield</td>
            <td class="text-center">
                <a id="btn-editdebugdata" class="btn default btn-xs purple update" data-toggle="modal" href="#modal-debugdata" data-debugdata="@item.Id" title="Edit"> <span class="glyphicon glyphicon-edit"></span></a>
                <a id="btn-deletedebugdata" class="btn default btn-xs red update" data-toggle="" href="" data-debugdata="@item.Id" title="Delete"> <span class="glyphicon glyphicon-remove"></span></a>
            </td>
        </tr>}
    </tbody>
</table>




