@model List<SharedObjects.ValueObjects.VDebugRawData>

@{
    ViewData["displayName"] = ViewData["displayName"];

}
<div class="caption col-md-12">
    <span class="caption-subject font-green-sharp bold uppercase">
        Monthly Data Entrance
    </span>
    <span class="caption-subject font-green-sharp bold uppercase">
        <a class="btn btn-success" data-toggle="modal" href="/hcs/debug/adddebugrawdata">one time configuration</a>
    </span>
</div>
<table id="tbl-debugrawdata" class="table table-bordered table-hover table-striped ">
    <thead>
        <tr class="text-center bold">
            <td>Fiscal Year</td>
            <td>Month</td>
            <td>Working Day (days)</td>
            <td>Working Hour Per Shift (hours)</td>
            <td>Shift Pattern</td>
            <td>Working Efficiency (%)</td>
            <td>Forecasted Volume (Qty)</td>
            <td><span data-toggle="tooltip" id="addItInfo" data-html="true" title="technician coverage">Coverage (%)</span></td>
            <td>Modification</td>
        </tr>
    </thead>
    <tbody id="table-data" class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FiscalYear</td>
                <td>@item.Month</td>
                <td id="WorkingDayPerMonth-@item.MonthId" ondblclick="addInput(this)" class="text-center">@item.WorkingDayPerMonth</td>
                <td id="WorkingHourPerShift-@item.MonthId" ondblclick="addInput(this)">@item.WorkingHourPerShift</td>
                <td id="ShiftPatten-@item.MonthId" ondblclick="addSelect(this)">@item.ShiftPatten</td>
                <td id="WorkEfficiency-@item.MonthId" ondblclick="addInput(this)">@item.WorkEfficiency</td>
                <td id="ForecastedVolume-@item.MonthId" ondblclick="addInput(this)">@item.ForecastedVolume</td>
                <td id="Coverage-@item.MonthId" ondblclick="addInput(this)">@item.CoverRate</td>
                <td class="text-center">
                    <a id="btn-save-rawdata" class="btn default btn-xs purple update" data-monthId="@item.MonthId" title="Save"> <span class="glyphicon glyphicon-floppy-saved"></span></a>
                </td>
            </tr>
        }
    </tbody>

</table>






