@model List<SharedObjects.ValueObjects.VActivities>




<div class="caption col-md-12">
    <span class="caption-subject font-green-sharp bold uppercase">
        Unplanned Downtime
    </span>
</div>

<form>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="text-center bold">
                <td style="width:50px">Type</td>
                <td style="width:50px">Station/Tester</td>
                <td style="width:50px">Detail</td>
                <td style="width:50px">Duration (mins)</td>
                <td class="columnwidth">Modification</td>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td id="DowntimeType" class="columnwidth">
                    <select class="form-control" id="txt-wc" data-search="wc" name="wc" style="color:mediumvioletred">
                        <option value="">--Please Select--</option>
                        <option value="Planned">Planned</option>
                        <option value="Unplanned">Unplanned</option>
                    </select>
                </td>
                <td id="StationOrTester" class="columnwidth"><input type="text" class="form-control" style="height:30px" /></td>
                <td id="DowntimeDetail" class="columnwidth"><input type="text" class="form-control" style="height:30px" /></td>
                <td id="Duration" class="columnwidth"><input type="number" class="form-control" style="height:30px" /></td>
                <td class="text-center">
                    <a id="add-downtime" class="btn default btn-xs purple update" title="Add"> <span class="glyphicon glyphicon-plus"></span></a>
                </td>
            </tr>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td id="@item.DowntimeType" class="columnwidth">@item.DowntimeType </td>
                    <td id="@item.StationOrTester" class="columnwidth">@item.StationOrTester </td>
                    <td id="@item.DowntimeDetail" class="columnwidth">@item.DowntimeDetail </td>

                    <td id="@item.Duration" class="columnwidth">@item.Duration </td>
                    <td class="text-center">
                        <a id="@item.Id" class="btn default btn-xs purple update" title="Edit"> <span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>



